* {
    box-sizing: border-box;
    padding: 20;
    margin: 0;
}

body {
    background-color: gray;
    color: blue;
}

head {
    background-color: black;
    color: red;
}

.container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 0%;
}